@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background and Text */
body {
  color: #252525;  /* Light Gray for better contrast */
  background: #013220;  /* Deep Forest Green */
}

/* Input and Textarea */
body input,
body textarea {
  color: #D3D3D3;  /* Light Gray */
}

/* Links */
a {
  color: #0D5EAF;  /* Modern Blue */
}

a:hover {
  border-bottom: 1px solid #0D5EAF;  /* Border with Modern Blue */
}

/* Paragraphs */
p {
  margin: 8px 0;
  color: #D3D3D3;  /* Light Gray */
}

/* Code Elements */
code,
pre {
  color: #FF4500;  /* Modern, Mechanical Orange */
}

/* Preformatted Text */
pre {
  background-color: #2E8B57;  /* Sea Green */
  color: #D3D3D3;  /* Light Gray */
}

/* List Items */
li {
  padding: 4px;
  color: #D3D3D3;  /* Light Gray */
}
